.instance-item {
  height: 53.6px;
  width: 397px;
  position: relative;
  object-fit: cover;
}
.home2 {
  text-decoration: none;
  position: relative;
  color: inherit;
  cursor: pointer;
}
.home-routines {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-11xl);
}
.vuesaxlinearprofile-icon1 {
  height: 25px;
  width: 25px;
  position: relative;
}
.login-register2 {
  text-decoration: none;
  position: relative;
  color: inherit;
}
.auth-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  cursor: pointer;
}
.go-to-dashboard2 {
  text-decoration: none;
  position: relative;
  font-size: var(--font-size-lg);
  line-height: 20px;
  font-weight: 500;
  font-family: var(--font-lexend);
  color: var(--white);
  text-align: left;
}
.dashboard-button {
  cursor: pointer;
  border: 0;
  padding: var(--padding-lg) var(--padding-9xl);
  background-color: var(--black);
  border-radius: var(--br-24xl);
  justify-content: center;
}
.auth-buttons-parent,
.dashboard-button,
.frame-header {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.auth-buttons-parent {
  justify-content: flex-start;
  gap: var(--gap-xl);
  font-size: var(--font-size-lg);
  color: var(--black);
  font-family: var(--font-inter);
}
.frame-header {
  width: 1920px;
  background-color: var(--white);
  justify-content: space-between;
  padding: var(--padding-xl) var(--padding-141xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-gray-100);
  font-family: var(--font-lexend);
}
.image-icon1 {
  height: 456px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
}
.your-fitness-profile {
  margin: 0;
  width: 513px;
  position: relative;
  font-size: inherit;
  letter-spacing: -0.02em;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
  z-index: 1;
}
.track-your-progress {
  margin: 0;
  position: relative;
  font-size: var(--font-size-lg);
  line-height: 30px;
  font-family: var(--font-lexend);
  z-index: 1;
}
.hero-content,
.your-fitness-profile-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.your-fitness-profile-parent {
  width: 543px;
  margin: 0 !important;
  position: absolute;
  top: 152px;
  left: 160px;
  flex-direction: column;
  gap: var(--gap-3xs);
}
.hero-content {
  flex: 1;
  flex-direction: row;
  position: relative;
}
.account-information,
.hero {
  align-self: stretch;
  text-align: left;
}
.hero {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-81xl);
  box-sizing: border-box;
  max-width: 100%;
  font-size: var(--font-size-29xl);
  color: var(--white);
  font-family: var(--font-work-sans);
}
.account-information {
  margin: 0;
  position: relative;
  font-size: var(--font-size-13xl);
  letter-spacing: 0.01em;
  font-weight: 500;
  font-family: var(--font-lexend);
  color: var(--color-gray-700);
  -webkit-text-stroke: 0.5px #060606;
}
.edit-icon {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  border-radius: 50%;
  max-height: 100%;
  width: 107px;
  object-fit: cover;
}
.vuesaxlinearedit-2-icon {
  height: 18px;
  width: 18px;
  position: relative;
}
.edit-button {
  position: absolute;
  top: 65px;
  left: 78px;
  border-radius: var(--br-31xl);
  background-color: var(--light-red);
  border: 3px solid #f3f3f3;
  box-sizing: border-box;
  width: 38px;
  height: 38px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 6px 7px;
  z-index: 1;
}
.edit-profile {
  width: 116px;
  height: 107px;
  position: relative;
}
.name-password-inputs,
.user-name {
  font-family: var(--font-lexend);
  font-size: var(--font-size-base);
}
.user-name {
  position: relative;
  font-weight: 500;
  color: var(--gray-9);
  text-align: left;
}
.name-password-inputs {
  width: 100%;
  border: 0;
  outline: 0;
  background-color: var(--white);
  align-self: stretch;
  border-radius: var(--br-41xl);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-mini) var(--padding-xl);
  box-sizing: border-box;
  color: var(--color-lightslategray);
  min-width: 250px;
}
.component-130,
.name-password {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.component-130 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-5xs);
  min-width: 335px;
}
.name-password {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 26px 30px;
}
.enter-password,
.password {
  font-family: var(--font-lexend);
  font-size: var(--font-size-base);
  position: relative;
  text-align: left;
  display: inline-block;
}
.password {
  font-weight: 500;
  color: var(--gray-9);
  min-width: 77px;
}
.enter-password {
  width: calc(100% - 58px);
  border: 0;
  outline: 0;
  background-color: transparent;
  flex: 1;
  color: var(--color-lightslategray);
  min-width: 150px;
  padding: 0;
  max-width: calc(100% - 32px);
}
.vuesaxlineareye-slash-icon {
  height: 20px;
  width: 20px;
  position: relative;
}
.enter-password-parent {
  align-self: stretch;
  border-radius: var(--br-41xl);
  background-color: var(--white);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-mini) var(--padding-lg) var(--padding-mini)
    var(--padding-xl);
  box-sizing: border-box;
  gap: var(--gap-xs);
  max-width: 100%;
}
.date-of-birth,
.enter-confirm-password {
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-lexend);
  text-align: left;
  display: inline-block;
}
.enter-confirm-password {
  flex: 1;
  color: var(--color-lightslategray);
  max-width: calc(100% - 32px);
}
.date-of-birth {
  font-weight: 500;
  color: var(--gray-9);
  min-width: 103px;
}
.account-details,
.input-fields {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-21xl);
  max-width: 100%;
}
.account-details {
  padding: 0 0 var(--padding-3xs);
  box-sizing: border-box;
  gap: var(--gap-11xl);
}
.segment-shapes {
  align-self: stretch;
  flex: 1;
  position: relative;
  background-color: var(--color-gainsboro-300);
  max-width: 100%;
}
.divider-segments {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-3xs);
  box-sizing: border-box;
  max-width: 100%;
}
.huge-icon {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.use-lbs-instead {
  position: relative;
  font-size: var(--font-size-lg);
  font-weight: 500;
  font-family: var(--font-lexend);
  color: var(--gray-9);
  text-align: left;
}
.toggle-icons,
.unit-toggles {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.unit-toggles {
  align-items: flex-start;
  padding: 4px 0;
  box-sizing: border-box;
  gap: var(--gap-11xl);
  max-width: 100%;
}
.enter-current-weight {
  flex: 1;
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-lexend);
  color: var(--color-lightslategray);
  text-align: left;
  display: inline-block;
  min-width: 129px;
  max-width: 100%;
}
.vuesaxlineararrow-up-icon2 {
  width: 10px;
  height: 10px;
  position: relative;
}
.vuesaxlineararrow-up-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.weight-fields {
  align-self: stretch;
  border-radius: var(--br-41xl);
  background-color: var(--white);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-mini) var(--padding-lg) var(--padding-mini)
    var(--padding-xl);
  box-sizing: border-box;
  gap: var(--gap-xs);
  max-width: 100%;
}
.enter-weight-goal {
  flex: 1;
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-lexend);
  color: var(--color-lightslategray);
  text-align: left;
  display: inline-block;
  min-width: 111px;
  max-width: 100%;
}
.physical-details,
.weight-input {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.weight-input {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 26px 29.9px;
}
.physical-details {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-21xl);
}
.enter-your-one {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-lg);
  line-height: 30px;
  font-family: var(--font-lexend);
  color: var(--color-gray-300);
  text-align: left;
}
.one-rep-header {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.click-here-to,
.current,
.squat {
  position: relative;
  font-family: var(--font-lexend);
  text-align: left;
}
.click-here-to {
  align-self: stretch;
  font-size: var(--font-size-lg);
  text-decoration: underline;
  line-height: 30px;
  color: var(--light-red);
}
.current,
.squat {
  font-size: var(--font-size-base);
  display: inline-block;
}
.squat {
  width: 65px;
  font-weight: 500;
  color: var(--gray-9);
  flex-shrink: 0;
}
.current {
  flex: 1;
  color: var(--color-lightslategray);
  min-width: 46px;
  max-width: 100%;
}
.current-values {
  flex: 1;
  border-radius: var(--br-41xl);
  background-color: var(--white);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-mini) var(--padding-lgi) var(--padding-mini)
    var(--padding-xl);
  box-sizing: border-box;
  gap: var(--gap-xs);
  min-width: 250px;
  max-width: 100%;
}
.goal {
  flex: 1;
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-lexend);
  color: var(--color-lightslategray);
  text-align: left;
  display: inline-block;
  min-width: 27px;
  max-width: 100%;
}
.exercise-names,
.exercise-values {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 100%;
}
.exercise-values {
  width: 792px;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.exercise-names {
  align-self: stretch;
  justify-content: space-between;
  padding: 0 var(--padding-396xl) 0 0;
  box-sizing: border-box;
  gap: var(--gap-xl);
}
.exercise-inputs {
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-11xl);
}
.component-1302,
.exercise-dropdown,
.exercise-inputs {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.exercise-dropdown {
  align-self: stretch;
  border-radius: var(--br-41xl);
  background-color: var(--white);
  flex-direction: row;
  align-items: center;
  padding: var(--padding-mini) var(--padding-lgi) var(--padding-mini)
    var(--padding-xl);
  box-sizing: border-box;
  gap: var(--gap-xs);
}
.component-1302 {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-5xs);
  min-width: 571px;
}
.add-exercise {
  position: relative;
  font-size: var(--font-size-xl);
  text-decoration: underline;
  font-weight: 500;
  font-family: var(--font-lexend);
  color: var(--light-red);
  text-align: left;
  display: inline-block;
  min-width: 128px;
}
.confirm-exercise {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 0 17px;
}
.additional-exercise,
.one-rep-details {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.additional-exercise {
  width: 1056px;
  flex-direction: row;
  align-items: flex-end;
  flex-wrap: wrap;
  align-content: flex-end;
  gap: var(--gap-31xl);
}
.one-rep-details {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-11xl);
}
.instagram,
.social-media-link {
  position: relative;
  font-weight: 500;
  font-family: var(--font-lexend);
  text-align: left;
}
.social-media-link {
  margin: 0;
  align-self: stretch;
  font-size: var(--font-size-13xl);
  letter-spacing: 0.01em;
  color: var(--color-gray-700);
  -webkit-text-stroke: 0.5px #060606;
}
.instagram {
  width: 101px;
  font-size: var(--font-size-base);
  color: var(--gray-9);
  display: inline-block;
}
.platform-names,
.social-inputs {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-5xs);
}
.social-inputs {
  justify-content: flex-start;
  gap: var(--gap-11xl);
}
.enter-the-weight {
  width: 1073px;
  position: relative;
  font-size: var(--font-size-lg);
  line-height: 30px;
  font-family: var(--font-lexend);
  color: var(--color-gray-300);
  text-align: left;
  display: inline-block;
  max-width: 100%;
}
.calculate-button,
.plate-details {
  display: flex;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.plate-details {
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  max-width: 100%;
}
.calculate-button {
  position: absolute;
  top: 0;
  left: 0;
  flex-direction: row;
  align-items: center;
}
.weight-placeholder {
  flex: 1;
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-lexend);
  color: var(--black);
  text-align: left;
  display: inline-block;
  min-width: 14px;
  max-width: 100%;
}
.component-1303,
.weight-spacer {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.weight-spacer {
  align-self: stretch;
  border-radius: var(--br-41xl);
  background-color: var(--white);
  flex-direction: row;
  align-items: center;
  padding: var(--padding-mini) var(--padding-lgi) var(--padding-mini)
    var(--padding-xl);
  box-sizing: border-box;
  gap: var(--gap-xs);
}
.component-1303 {
  position: absolute;
  top: 54px;
  left: 0;
  width: 470.7px;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-5xs);
}
.available-plates-pairs,
.div5 {
  font-family: var(--font-lexend);
  color: var(--black);
  text-align: left;
  display: inline-block;
}
.available-plates-pairs {
  position: absolute;
  top: 162px;
  left: 0;
  font-size: var(--font-size-xl);
  line-height: 30px;
  width: 1074px;
  height: 30px;
}
.div5 {
  flex: 1;
  position: relative;
  font-size: var(--font-size-base);
  min-width: 6px;
}
.parent {
  align-self: stretch;
  border-radius: var(--br-41xl);
  background-color: var(--white);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: center;
  padding: var(--padding-mini) var(--padding-lgi) var(--padding-mini)
    var(--padding-xl);
  gap: var(--gap-xs);
}
.weight-values {
  position: absolute;
  top: 222px;
  left: 0;
  width: 272px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-5xs);
}
.kg1 {
  position: relative;
  font-size: var(--font-size-base);
  font-weight: 500;
  font-family: var(--font-lexend);
  color: var(--gray-9);
  text-align: left;
  display: inline-block;
  min-width: 40px;
}
.weight-values1 {
  position: absolute;
  top: 222px;
  left: 300px;
  width: 272px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-5xs);
}
.kg2 {
  position: relative;
  font-size: var(--font-size-base);
  font-weight: 500;
  font-family: var(--font-lexend);
  color: var(--gray-9);
  text-align: left;
  display: inline-block;
  min-width: 39px;
}
.weight-values2 {
  position: absolute;
  top: 222px;
  left: 600px;
  width: 272px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-5xs);
}
.kg3 {
  width: 63px;
  position: relative;
  font-size: var(--font-size-base);
  font-weight: 500;
  font-family: var(--font-lexend);
  color: var(--gray-9);
  text-align: left;
  display: inline-block;
}
.weight-values3,
.weight-values4 {
  position: absolute;
  top: 222px;
  left: 900px;
  width: 272px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-5xs);
}
.weight-values4 {
  left: 1200px;
}
.kg5 {
  position: relative;
  font-size: var(--font-size-base);
  font-weight: 500;
  font-family: var(--font-lexend);
  color: var(--gray-9);
  text-align: left;
  display: inline-block;
  min-width: 43px;
}
.weight-values5,
.weight-values6,
.weight-values7 {
  position: absolute;
  top: 330px;
  left: 0;
  width: 272px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-5xs);
}
.weight-values6,
.weight-values7 {
  left: 300px;
}
.weight-values7 {
  left: 600px;
}
.kg8 {
  position: relative;
  font-size: var(--font-size-base);
  font-weight: 500;
  font-family: var(--font-lexend);
  color: var(--gray-9);
  text-align: left;
  display: inline-block;
  min-width: 49px;
}
.weight-values8 {
  position: absolute;
  top: 330px;
  left: 900px;
  width: 272px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-5xs);
}
.kg9 {
  position: relative;
  font-size: var(--font-size-base);
  font-weight: 500;
  font-family: var(--font-lexend);
  color: var(--gray-9);
  text-align: left;
  display: inline-block;
  min-width: 58px;
}
.weight-values9 {
  position: absolute;
  top: 330px;
  left: 1200px;
  width: 272px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-5xs);
}
.weight-selector {
  align-self: stretch;
  height: 408px;
  position: relative;
  max-width: 100%;
}
.view-status {
  position: relative;
  font-size: var(--font-size-lg);
  line-height: 20px;
  font-weight: 500;
  font-family: var(--font-lexend);
  color: var(--white);
  text-align: left;
}
.action-buttons {
  cursor: pointer;
  border: 0;
  padding: var(--padding-lg) var(--padding-14xl) var(--padding-lg)
    var(--padding-15xl);
  background-color: var(--light-red);
  border-radius: var(--br-24xl);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-7xs);
}
.action-buttons:hover {
  background-color: var(--color-crimson-100);
}
.save-changes {
  position: relative;
  font-size: var(--font-size-lg);
  line-height: 20px;
  font-weight: 500;
  font-family: var(--font-lexend);
  color: #e2e2e2;
  text-align: left;
}
.action-buttons1 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-lg) var(--padding-14xl) var(--padding-lg)
    var(--padding-15xl);
  background-color: var(--black);
  border-radius: var(--br-24xl);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-7xs);
}
.action-buttons1:hover {
  background-color: var(--color-darkslategray);
}
.account-information-parent,
.actions,
.profile-form {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.actions {
  flex-direction: row;
  gap: var(--gap-21xl);
}
.account-information-parent,
.profile-form {
  box-sizing: border-box;
}
.account-information-parent {
  margin: 0;
  flex: 1;
  border-radius: var(--br-xl);
  background-color: #f9f9f9;
  flex-direction: column;
  padding: var(--padding-81xl) 63px var(--padding-81xl) 64px;
  gap: var(--gap-31xl);
}
.profile-form {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-141xl) var(--padding-81xl);
}
.footer-item {
  width: 1920px;
  height: 880px;
  position: relative;
  background-color: var(--black);
  display: none;
  max-width: 100%;
}
.imagine-having-the4 {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 36px;
  font-weight: 400;
  font-family: inherit;
  z-index: 1;
}
.social-icon3 {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.social-container,
.social-media3 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.social-media3 {
  border-radius: var(--br-41xl);
  background-color: var(--color-gray-500);
  padding: var(--padding-base);
  z-index: 1;
}
.social-container {
  gap: var(--gap-xs);
}
.footer-top-inner,
.imagine-having-the-freedom-to-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.imagine-having-the-freedom-to-group {
  align-self: stretch;
  gap: var(--gap-18xl);
}
.footer-top-inner {
  width: 849px;
  padding: var(--padding-8xs) 0 0;
  box-sizing: border-box;
  max-width: 100%;
}
.quick-links2 {
  position: relative;
  display: inline-block;
  min-width: 102px;
}
.home3 {
  text-decoration: none;
  color: inherit;
  display: inline-block;
  min-width: 48px;
}
.available-rountines3,
.home3 {
  position: relative;
}
.link-items,
.quick-links-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.link-items {
  justify-content: flex-start;
  gap: var(--gap-xs);
  font-size: var(--font-size-base);
  color: var(--color-gray-600);
}
.quick-links-container {
  justify-content: center;
  gap: var(--gap-3xl);
}
.vuesaxlinearsms-icon1 {
  height: 24px;
  width: 24px;
  position: relative;
}
.infosunliftergmailcom1 {
  flex: 1;
  position: relative;
  letter-spacing: -0.02em;
  line-height: 20px;
}
.email-container {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-sm);
}
.contact-group,
.contact-info1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.contact-info1 {
  align-self: stretch;
  justify-content: flex-start;
}
.contact-group {
  flex: 1;
  justify-content: center;
  gap: var(--gap-3xl);
  min-width: 183px;
}
.quick-links-container-parent {
  justify-content: flex-start;
  gap: var(--gap-46xl);
  min-width: 500px;
  z-index: 1;
  font-size: var(--font-size-lg);
}
.footer-content2,
.footer-top1,
.quick-links-container-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.footer-top1 {
  flex: 1;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.footer-content2 {
  align-self: stretch;
  justify-content: flex-start;
  padding: 0 var(--padding-5xs) 0 var(--padding-10xs);
  box-sizing: border-box;
}
.privacy-policy1 {
  text-decoration: none;
  flex: 1;
  color: inherit;
  min-width: 110px;
}
.cookie-policy1,
.privacy-policy1,
.terms-of-use1 {
  position: relative;
  display: inline-block;
}
.cookie-policy1 {
  flex: 1;
  min-width: 105px;
}
.terms-of-use1 {
  min-width: 99px;
}
.copyright-content,
.legal-links1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.legal-links1 {
  width: 381px;
  justify-content: flex-start;
  gap: var(--gap-16xl);
}
.copyright-content {
  align-self: stretch;
  justify-content: space-between;
  gap: var(--gap-xl);
  z-index: 1;
}
.empty-container-child,
.empty-container-item {
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
}
.empty-container-child {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-height: 100%;
  z-index: 1;
}
.empty-container-item {
  height: 454.9px;
  flex: 1;
  position: relative;
  z-index: 2;
}
.spacer1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-10xs);
  box-sizing: border-box;
  max-width: 100%;
}
.copyright-content-parent {
  align-self: stretch;
  gap: var(--gap-18xl);
  max-width: 100%;
  font-size: var(--font-size-base);
  color: var(--color-gray-600);
}
.copyright-content-parent,
.footer1,
.profile {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.footer1 {
  align-self: stretch;
  background-color: var(--black);
  padding: var(--padding-64xl) var(--padding-138xl) var(--padding-12xs-1);
  box-sizing: border-box;
  gap: var(--gap-64xl);
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-6xl);
  color: var(--white);
  font-family: var(--font-lexend);
}
.profile {
  width: 100%;
  position: relative;
  background-color: var(--white);
  overflow: hidden;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1750px) {
  .exercise-names {
    flex-wrap: wrap;
  }
  .footer-top-inner,
  .quick-links-container-parent {
    flex: 1;
  }
  .footer-top1 {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1325px) {
  .exercise-values {
    flex-wrap: wrap;
  }
  .exercise-names {
    padding-right: var(--padding-188xl);
    box-sizing: border-box;
  }
  .component-1302 {
    min-width: 100%;
  }
  .account-information-parent {
    padding: var(--padding-23xl) var(--padding-12xl) var(--padding-23xl) 32px;
    box-sizing: border-box;
  }
  .profile-form {
    padding-left: var(--padding-61xl);
    padding-right: var(--padding-61xl);
    padding-bottom: var(--padding-23xl);
    box-sizing: border-box;
  }
  .footer-top-inner {
    min-width: 100%;
  }
  .footer1 {
    gap: var(--gap-22xl);
    padding-left: var(--padding-59xl);
    padding-right: var(--padding-59xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 900px) {
  .your-fitness-profile {
    font-size: var(--font-size-19xl);
  }
  .hero {
    padding-bottom: var(--padding-46xl);
    box-sizing: border-box;
  }
  .account-information {
    font-size: var(--font-size-7xl);
  }
  .input-fields {
    gap: var(--gap-xl);
  }
  .unit-toggles,
  .weight-fields {
    flex-wrap: wrap;
  }
  .physical-details {
    gap: var(--gap-xl);
  }
  .current-values {
    flex-wrap: wrap;
  }
  .exercise-names {
    padding-right: var(--padding-84xl);
    box-sizing: border-box;
  }
  .additional-exercise {
    gap: var(--gap-6xl);
  }
  .weight-spacer {
    flex-wrap: wrap;
  }
  .weight-selector {
    height: auto;
    min-height: 408;
  }
  .actions {
    flex-wrap: wrap;
  }
  .account-information-parent,
  .profile-form {
    padding-bottom: var(--padding-8xl);
    box-sizing: border-box;
  }
  .account-information-parent {
    gap: var(--gap-6xl);
    padding-top: var(--padding-8xl);
  }
  .profile-form {
    padding-left: var(--padding-21xl);
    padding-right: var(--padding-21xl);
  }
  .quick-links-container {
    flex: 1;
  }
  .quick-links-container-parent {
    gap: var(--gap-13xl);
    flex-wrap: wrap;
    min-width: 100%;
  }
  .copyright-content {
    flex-wrap: wrap;
  }
  .copyright-content-parent {
    gap: var(--gap-lg);
  }
  .footer1 {
    gap: var(--gap-2xl);
    padding: var(--padding-35xl) var(--padding-20xl) var(--padding-xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .your-fitness-profile {
    font-size: var(--font-size-10xl);
  }
  .account-information {
    font-size: var(--font-size-lgi);
  }
  .exercise-names {
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .add-exercise,
  .available-plates-pairs {
    font-size: var(--font-size-base);
  }
  .available-plates-pairs {
    line-height: 24px;
  }
  .actions {
    gap: var(--gap-xl);
  }
  .imagine-having-the4 {
    font-size: var(--font-size-xl);
    line-height: 29px;
  }
  .imagine-having-the-freedom-to-group {
    gap: var(--gap-lg);
  }
  .quick-links-container-parent {
    gap: var(--gap-base);
  }
  .legal-links1 {
    gap: var(--gap-mid);
    flex-wrap: wrap;
  }
  .footer1 {
    padding-top: var(--padding-16xl);
    box-sizing: border-box;
  }
}
